/* variables*/
:root {
  --text-color: white;
  --bg-color-primary: rgb(255, 80, 120);
  --bg-color-menu: rgb(30, 0, 60);
  --bg-color-header: rgb(120, 40, 220);
  --transition-time: 0.3s;
}
/* cosas basicas */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}
/* cosas generales */
img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

header,
nav,
main,
footer {
  padding: 1.2rem;
}
/* header */
header {
  background-color: var(--bg-color-header);
  color: var(--text-color);
  text-align: center; /* centramos todo el texto del header */
}

header h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

header p {
  font-size: 1.2rem;
}

header > div > p {
  color: yellow;
  font-size: 1rem;
  margin-top: 0.5rem;
}
